{% extends "base.html" %}

{% block metatags %}
{% endblock %}

{% block contents %}
	<div>
        <ol class="breadcrumb small">
            <li class="breadcrumb-item"><a href="{{url_for('bl_home.index')}}">{{ _('Home') }}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ _('Terms of Service') }}</li>
        </ol>
    </div>

	{% if g.lang == 'en' %}
		{% include 'home/terms-of-service-en.html' %}
	{% else %}
		{% include 'home/terms-of-service-it.html' %}
	{% endif %}
{% endblock %}
